@import "tailwindcss";

@theme {
  --color-navy: #212E53;
  --color-teal: #4A919E;
  --color-coral: #CE6A6B;
  --color-peach: #EBACA2;
  --color-sage: #BED3C3;
}

@source "./**/*.{js,jsx}";

@layer base {
  input {
    @apply bg-white border-none ring-1 ring-navy/20 text-navy;
    border-radius: 0.5rem;
  }
}